<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Members Only</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <main>
      <% if (locals.user) {%>
      <h1>WELCOME BACK <%= user.username %></h1>
      <a href="/logout">LOG OUT</a>
      <% } else { %>
      <h1>please log in</h1>
      <form action="/login" method="POST">
        <label for="username">Username</label>
        <input
          id="username"
          name="username"
          placeholder="username"
          type="text"
        />
        <label for="password">Password</label>
        <input id="password" name="password" type="password" />
        <button type="submit">Log In</button>
      </form>
      <a href="/signup">No Account? Sign Up</a>
      <%}%>

      <div class="messages">
        <% messages.forEach(message => { %>
        <div class="message">
          <p class="messageTitle"><%=message.title %></p>
          <p class="messageText"><%=message.text %></p>
          <p class="messageTime"><%=message.created_at %></p>
          <% if (locals.user) {%>
          <p class="messageAuthor"><%=message.author %></p>
          <%}%>
        </div>
        <%})%>
      </div>
    </main>
  </body>
</html>
